<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./popup.css">
</head>
<body class="popup-body">
    <header class="popup-header">
        <h1>rn coursera translator</h1>
    </header>
    <hr />
    <section class="popup-section">
        <p>
            영어싫어!!영어싫어!!영어싫어!!영어싫어!!영어싫어!!영어싫어!!영어싫어!!영어싫어!!영어싫어!!영어싫어!!영어싫어!!영어싫어!!영어싫어!!영어싫어!!
        </p>
    </section>
    <hr />
    <footer class="popup-footer">
        <h2>Made By Rn</h2>
    </footer>
</body>
</html>